<!DOCTYPE html>
<html>
    <head>
    <title>Kickbox - Email Widget Demo</title>
    <meta name="description" content="Kickbox jQuery Plugin Demo">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <link rel="stylesheet" href="/style.css">
  </head>
  
  <body>
   
    <main>
      <section id="intro">
        <p>Let's turn an element into a form.</p>
        <p>
          📝  &nbsp; <a href="#" id="create-form">Create Form</a>
        </p>

      </section>
      <!-- get an app code for free at http://kickbox.io -->
      <div class="kickbox-form" kickbox-app-code="tGe6FQUxDmWn1VmGhU8W"></div>
      
      <div>
         <p><small>
          <a href="https://glitch.com/~kickbox-widget">View Source and Remix</a>
          </small></p>        
      </div>
    </main>
    
    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/client.js"></script>
    <script src="/kickbox-widget.js"></script>
  </body>
</html>
